@using System.Text.Json
@using Microsoft.Extensions.Options
@using Orneholm.CognitiveJukebox.Web.Models
@model Orneholm.CognitiveJukebox.Web.Models.HomeIndexViewModel
@inject IOptions<JukeboxOptions> AiJukeboxOptions
@{
    var jsonSerializerOptions = new JsonSerializerOptions
    {
        PropertyNamingPolicy = JsonNamingPolicy.CamelCase,
        WriteIndented = true
    };
}

<div class="cb-page-wrapper">
    <div class="container">
        <div class="text-center">
            <a href="/" class="display-4 cb-header">
                <i class="fas fa-album-collection"></i>
                CogBox.net
            </a>
            <p class="cb-header-description">
                Cognitive Jukebox - A jukebox enhanced with cognitive skills
            </p>
        </div>
        <div id="cb-root">
            <div class="row">
                <div class="col-md-6 order-md-2">

                    <div class="cb-song-wrapper img-thumbnail">
                        <div class="cb-song-embed embed-responsive embed-responsive-4by3">
                            <img class="cb-song-image embed-responsive-item" />
                            <div class="cb-song-description"></div>
                            <div class="cb-song-progress"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 order-md-1">

                    <div class="cb-webcam-wrapper img-thumbnail">
                        <div class="cb-webcam-embed embed-responsive embed-responsive-4by3">
                            <video class="cb-webcam-video embed-responsive-item" autoplay playsinline></video>
                            <div class="cb-webcam-description"></div>
                        </div>
                        <div class="cb-webcam-start">
                            <i class="fa fa-camera-retro fa-5x"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer class="cb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4>About</h4>
                <p>
                    CogBox.net is a jukebox that tries to figure out your age plays music from the year you were born.
                </p>
                <p>
                    It is created using <a href="https://www.microsoft.com/cognitive-services">Azure Cognitive Services</a> and <a href="https://developer.spotify.com/web-api/">Spotify API</a>.
                </p>
                <p>
                    The <a href="https://github.com/PeterOrneholm/CogBox.net">Sourcecode is available at GitHub</a> and <a href="https://hub.docker.com/r/peterorneholm/orneholmcognitivejukeboxweb">Docker image available at Dockerhub</a>.
                </p>
            </div>

            <div class="col-sm-4">
                <h4>Author</h4>
                <p>
                    Developed by <a href="https://twitter.com/PeterOrneholm" target="_blank">@@PeterOrneholm</a> as a demo for the session <a href="http://bit.ly/peterorneholm-democratizing-ai">Democratizing AI with Azure Cognitive Services</a>.
                </p>
            </div>

            <div class="col-sm-4">
                <h4>Privacy</h4>
                <p>
                    We don't store any of the pictures you take in this application. To see how the site performs, we do keep anonymized information of the result that the AI comes up with, for example what age it guesses and what music it plays.
                </p>
            </div>
        </div>
        <p class="cb-footer-sitename">
            CogBox.net
        </p>
    </div>
</footer>

@section Scripts {
    <script>
        (function(window) {
            window.jukeboxai = {
                config: @Html.Raw(JsonSerializer.Serialize(AiJukeboxOptions.Value, jsonSerializerOptions))
            };
        }(this));
    </script>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}
