/* Basic */

html, body {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

h1 {
    margin-top: 0;
    color: #fff;
}

/* Main */

.cb-page-wrapper {
    background-color: #008bc3;
    padding: 30px 0;
    height: 90vh;
}

/* Footer */

.cb-footer {
    font-size: 0.85em;
    text-align: left;
    color: #fafafa;
    margin: 0;
    padding: 30px 0;
}

    .cb-footer a {
        color: #fafafa;
        text-decoration: underline;
    }

        .cb-footer a:hover {
            color: #f0f0f0;
        }

.cb-footer-sitename {
    margin-top: 20px;
    text-align: center;
}

/* Common */

.cb-webcam-wrapper, .cb-song-wrapper {
    transition: all 1s ease;
}

/* Webcam */

@keyframes flash {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.cb-webcam-flash {
    animation-name: flash;
}

.cb-webcam-wrapper {
    transform: rotate(0) translate(300px, 50px) scale(1.2);
    cursor: pointer;
    background-color: #fff;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.cb-activated .cb-webcam-wrapper {
    transform: rotate(-3deg) translate(0, 50px) scale(1.0);
}

.cb-webcam-wrapper .cb-webcam-embed {
    position: relative;
}

.cb-webcam-wrapper .cb-webcam-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 10px 10px 15px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    font-size: 20px;
    text-align: center;

    transition: transform 1s;
    transform: translateY(98%);
}

.cb-activated .cb-webcam-description {
    transform: translateY(0);
}

.cb-webcam-wrapper .cb-webcam-start {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: all 0.4s;
    opacity: 0.7;
}

.cb-activated .cb-webcam-start {
    opacity: 0;
}

.cb-webcam-wrapper:hover .cb-webcam-start {
    transform: scale(1.2);
    opacity: 1;
}

.cb-webcam-flash.cb-webcam-wrapper .cb-webcam-start {
    transform: scale(2) rotate(10deg) !important;
    color: #F78B1D;
}

/* Song */

.cb-song-wrapper {
    transform: rotate(0) translate(0, -1000px);
}

.cb-activated .cb-song-wrapper {
    transform: rotate(4deg) translate(-30px, 50px);
}

.cb-song-wrapper .cb-song-embed .cb-song-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 10px 15px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    font-size: 20px;
    text-align: center;
}

.cb-song-wrapper .cb-song-embed .cb-song-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background-color: rgba(247, 139, 29, 0.8);
}
