/* Basic */

html, body {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

h1 {
    margin-top: 0;
    color: #fff;
}

/* Main */

.jai-page-wrapper {
    background-color: #008bc3;
    padding: 30px 0;
    height: 90vh;
}

.jai-main {
}

/* Footer */

.jai-footer {
    font-size: 0.85em;
    text-align: left;
    color: #fafafa;
    margin: 0;
    padding: 30px 0;
}

    .jai-footer a {
        color: #fafafa;
        text-decoration: underline;
    }

        .jai-footer a:hover {
            color: #f0f0f0;
        }

.jai-footer-sitename {
    margin-top: 20px;
    text-align: center;
}


/* Jukebox */


@keyframes flash {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

video {
    background-color: #fff;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.flash {
    animation-name: flash;
}

#analyze-tags {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    transition: transform 1s;
    transform: translateY(98%);
}

.activated #analyze-tags {
    transform: translateY(0);
}

#analyze-tags ul {
    margin: 10px;
}

    #analyze-tags ul li {
        float: left;
        margin: 3px 5px;
    }

#analyze-music > div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 10px 15px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    font-size: 20px;
    text-align: center;
}

    #analyze-music > div > .song-progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        width: 0%;
        background-color: rgba(247, 139, 29, 0.8);
    }

#camera, #song {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

#camera {
    transform: rotate(0) translate(300px, 50px) scale(1.2);
    cursor: pointer;
}

#song {
    transform: rotate(0) translate(0, -1000px);
}

.activated #camera {
    transform: rotate(-3deg) translate(0, 50px) scale(1.0);
}

.activated #song {
    transform: rotate(4deg) translate(-30px, 50px);
}

#camera-start {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 0.7;
}

.activated #camera-start {
    opacity: 0;
}

#camera:hover #camera-start {
    transform: scale(1.2);
    opacity: 1;
}

.flash #camera-start {
    transform: scale(2) rotate(10deg) !important;
    color: #F78B1D;
}
